body * {
  box-sizing: border-box;
}

button {
  padding: 0;
}

.container {
  max-width: 288px;
  aspect-ratio: 2/3;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
}

.zero {
  flex: 2;
}

.display {
  flex: 1;
  border: 1px solid;
}